*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button,
input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

button, input {
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}