.Card {
  min-width: 300px;
  width: 24%;
  padding: 17px 12px;
  background: #fff;
  color: initial;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin: 0 5px;

  &:last-child {
  }

  .card_name {
	margin-top: 5px;
	word-break: break-all;
  }

  .wrapper {
	margin-top: auto;

	.brand {
	  margin: 15px 0;
	}

	.price {

	}
  }
}